#
# FPGA:		Lattice iCE40 HX1K
# Package:	TQ-144
#
set_io IOL_1A		1
set_io IOL_1B		2
set_io IOL_2A		3
set_io IOL_2B		4
set_io IOL_3A		7
set_io IOL_3B		8
set_io IOL_4A		9
set_io IOL_4B		10
set_io IOL_5A		11
set_io IOL_5B		12
set_io IOL_6A		19
set_io IOL_6B_GBIN7	20
set_io IOL_7A_GBIN6	21
set_io IOL_7B		22
set_io IOL_8A		23
set_io IOL_8B		24
set_io IOL_9A		25
set_io IOL_9B		26
set_io IOL_10A		28
set_io IOL_10B		29
set_io IOL_11A		31
set_io IOL_11B		32
set_io IOL_12A		33
set_io IOL_12B		34
set_io IOB_24		37
set_io IOB_25		38
set_io IOB_26		39
set_io IOB_27		41
set_io IOB_28		42
set_io IOB_29		43
set_io IOB_30		44
set_io IOB_31		45
set_io IOB_32		47
set_io IOB_33		48
set_io IOB_35_GBIN5	49
set_io IOB_36_GBIN4	50
set_io IOB_34		52
set_io IOB_37		56
set_io IOB_38		58
set_io IOB_39		60
set_io IOB_40		61
set_io IOB_41		62
set_io IOB_42_CBSEL0   	63
set_io IOB_43_CBSEL1	64
set_io IOB_44_SDO	67
set_io IOB_45_SDI	68
set_io IOB_46_SCK	70
set_io IOB_47_SS	71
set_io IOR_48		73
set_io IOR_49		74
set_io IOR_50		75
set_io IOR_51		76
set_io IOR_52		78
set_io IOR_53		79
set_io IOR_54		80
set_io IOR_55		81
set_io IOR_56		87
set_io IOR_57		88
set_io IOR_58		90
set_io IOR_59		91
set_io IOR_60_GBIN3	93
set_io IOR_61_GBIN2	94
set_io IOR_62		95
set_io IOR_63		96
set_io IOR_64		97
set_io IOR_65		98
set_io IOR_66		99
set_io IOR_67		101
set_io IOR_68		102
set_io IOR_69		104
set_io IOR_70		105
set_io IOR_71		106
set_io IOR_72		107
set_io IOT_73		112
set_io IOT_74		113
set_io IOT_75		114
set_io IOT_76		115
set_io IOT_77		116
set_io IOT_78		117
set_io IOT_79		118
set_io IOT_80		119
set_io IOT_81		120
set_io IOT_82		121
set_io IOT_83		122
set_io IOT_84_GBIN1	128
set_io IOT_85_GBIN0	129
set_io IOT_87		134
set_io IOT_88		135
set_io IOT_89		136
set_io IOT_90		137
set_io IOT_91		138
set_io IOT_92		139
set_io IOT_93		141
set_io IOT_94		142
set_io IOT_95		143
set_io IOT_96		144

